<!DOCTYPE html>
<html>
  <head>
    <title>Greyskull</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <% if @current_account %>
        <%= link_to "GSLP Tracker", profile_path(@current_account), class: "navbar-brand" %>
      <% else %>
        <%= link_to "GSLP Tracker", root_path, class: "navbar-brand" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if @current_account %>
            <%= link_to "My Profile", profile_path(@current_account), class: "nav-item nav-link" %>
            <%= link_to "Logout", destroy_account_session_path, method: :delete, class: "nav-item nav-link" %>
          <% else %>
            <%= link_to "Login", new_account_session_path, class: "nav-item nav-link" %>
            <%= link_to "Sign Up", new_account_registration_path, class: "nav-item nav-link" %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
